
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

ol,
ul {
  list-style: none outside none;
}

body {
  min-height: 100vh;
  margin: 0;
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 8rem;
}

.pointer {
  cursor: pointer;
}


.img-container {
  height: 450px;
  display: block;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-description {
  white-space: pre-line;
}