{% extends "eventbook/layout.html" %} {% load static %} {% block body %}

<section class="events-content py-6 felx-1">
    <div id='create-event' class="px-4">
        <span class="text-4xl">Create Event</span>
        <form action="" id="create-form">
            <input type="text" id="title" placeholder="Event name">
            <input type="date" id="date" placeholder="Date">
            <input type="time" id="time" placeholder="Time">
            <input type="text" id="title" placeholder="Title">
            <input type="text" id="title" placeholder="Title">
            <input type="text" id="title" placeholder="Title">
        </form>
    </div>


</section>

{% endblock body %} {% block script %}
<script
  src="{% static 'eventbook/main.js' %}"
></script>
{% endblock script %}