{% extends "eventbook/layout.html" %} {% load static %} {% block body %}
<section class="events-content py-6 felx-1">
  <div id="Event-Dashboard" class="pt-5 mt-3">
    <span class="text-4xl">Discover Events</span>
    <div id="events-section" class="pt-3 flex gap-4 flex-wrap max-lg:justify-center"></div>
  </div>
</section>
{% endblock body %} {% block script %}
<script
  src="{% static 'eventbook/main.js' %}"
></script>
<script
  src="{% static 'eventbook/components/event.js' %}"
  type="text/babel"
></script>


{% endblock script %}
