{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Event Book</title>
    <script
    src="https://unpkg.com/react@17/umd/react.production.min.js"
    crossorigin
    ></script>
    <script
    src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
    crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-bootstrap@2.8.0/dist/react-bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="https://unpkg.com/moment/moment.js"></script>
    <link rel="stylesheet" href="{% static 'eventbook/style.css' %}" />
    {% block script %} {% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center gap-1">
          <h2 class="mb-0">
            <a href="#" style="color: black"><i class="bi bi-list"></i></a>
          </h2>
          <a class="navbar-brand" href="#">Event Book</a>
        </div>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div class="d-flex align-items-center">
          <div id="create-event" data-user={{ request.user.username.title }}>
          </div>
          <div class="dropdown">
            <h2 class="mb-0">
              <a href="#" role='button' style="color: black" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person" ></i></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
              </ul>
            </h2>
          </div>
        </div>
      </div>
    </nav>

    <div class="main d-flex vh-100">
      <div class="sidebar border-end bg-body-tertiary pt-5 mt-3 h-auto">
        <!-- Sidebar -->
        <ul class="sidbar-content pe-3">
          {% if request.user %}
          <li>{{request.user}}</li>
          {% endif %}
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'index' %}">Going</a></li>
          <li>Interested</li>
          <li>Hosting</li>
        </ul>
      </div>
      {% block body %} {% endblock %}
    </div>
   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'eventbook/components/create.js' %}"
      type="text/babel"
    ></script>
  </body>
</html>
